<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
    <application
        android:name=".DB"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="Tsuru Learn"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Japaneseselfstudyguide"
        tools:targetApi="31">

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".login_and_registration.Registration"
            android:screenOrientation="portrait"
            android:exported="false" />
        <activity
            android:name=".login_and_registration.Login"
            android:screenOrientation="portrait"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".main_profile.MainActivity"
            android:screenOrientation="portrait"
            android:exported="true">

        </activity>
        <activity android:name=".main_profile.Profile"
            android:screenOrientation="portrait"
            />

        <activity
            android:name="com.yalantis.ucrop.UCropActivity"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.MyApp.UCrop" />

        <activity
            android:name=".login_and_registration.VerifyEmail"
            android:exported="true">

        </activity>
        <receiver android:name=".main_profile.DailyReminderWorker"/>

        <activity android:name=".hiragana_katakana.HiraganaActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".hiragana_katakana.HiraganaExercisesActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".hiragana_katakana.HiraganaGroupsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity android:name=".hiragana_katakana.KatakanaActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".hiragana_katakana.KatakanaExercisesActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".hiragana_katakana.KatakanaGroupsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity android:name=".kanji.KanjiActivity"
            android:screenOrientation="portrait"/>
        <activity android:name=".kanji.KanjiExercisesActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".kanji.KanjiExerciseGroupsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity android:name=".dictionary.DictionaryActivity"
            android:screenOrientation="portrait"
            android:exported="false" />

        <activity android:name=".grammar.GrammarActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".grammar.GrammarDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".grammar.GrammarExerciseActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".grammar.GrammarExerciseDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>


        <activity android:name=".texts_and_translation.TextsActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".texts_and_translation.TextDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"
            android:theme="@style/Theme.Material3.Light.NoActionBar" />
        <activity android:name=".texts_and_translation.ExerciseDetailActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".texts_and_translation.ExerciseFinishedActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

        <activity android:name=".audio.AudioActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".audio.AudioPlayerActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".audio.AudioExerciseActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>
        <activity android:name=".audio.AudioExerciseFinishActivity"
            android:screenOrientation="portrait"
            android:exported="false"/>

    </application>


</manifest>